[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyLottie"]
	path = shinyLottie
	url = https://github.com/camhowitt/shinylottie
